{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to an ecommerce overview</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row>">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin tortor quis dui ultricies, vel tincidunt neque lacinia. Vestibulum nec euismod metus, ac interdum velit. Quisque ornare lacinia augue a ornare. Vestibulum aliquam placerat lacus, ut tristique ipsum elementum non. Etiam quis tempus eros. Aliquam malesuada eros neque, vitae porttitor erat volutpat tristique. Morbi at dapibus libero. Proin turpis dui, finibus vel magna ut, molestie suscipit nulla. Donec ut diam accumsan, faucibus quam ac, lobortis enim. Vivamus eu venenatis eros, at molestie nibh. Morbi pharetra metus urna, sit amet vehicula ex finibus in.
                    <br/>
                    Vivamus vehicula semper ligula, ac ullamcorper purus feugiat in. Vivamus ultrices libero dapibus, feugiat enim eget, efficitur mi. Phasellus fermentum quam ac euismod fermentum. Sed non congue erat. Nam tempor, ipsum ac blandit elementum, felis tortor porttitor lacus, quis rhoncus quam arcu vel urna. Morbi nec iaculis neque. Phasellus leo dolor, dictum vitae sollicitudin non, ullamcorper vitae dolor. Duis rhoncus, risus ac feugiat vehicula, quam mi gravida erat, et molestie sem est id ex. Praesent condimentum, ligula id blandit euismod, leo risus viverra lacus, at luctus lectus tortor sit amet purus. Nullam erat massa, pellentesque non nibh vel, sodales eleifend quam. Ut euismod risus turpis, ac eleifend ex iaculis eget. Sed non mi euismod, mollis massa iaculis, auctor mi.
                    <br/>
                    Nam augue justo, malesuada nec fermentum ut, consequat eu orci. Proin congue mauris justo, quis bibendum nibh placerat nec. Sed vel rhoncus sem. Vestibulum porta purus nibh, nec tincidunt nisi congue eu. Vestibulum id lacinia lacus. Fusce ac turpis mollis, condimentum velit et, tincidunt justo. Nullam mattis placerat mollis. Proin malesuada quam non odio vehicula ornare. Morbi id dui massa. Duis egestas libero ut metus mattis, eu fermentum mauris porta. Proin cursus condimentum mauris. In faucibus risus sed iaculis ornare. Morbi ornare id orci placerat aliquam. Nunc faucibus vehicula diam, vitae auctor nisl sodales sed. Mauris pellentesque libero ornare, ullamcorper risus id, sodales tortor. Donec rhoncus sapien dolor, ac vulputate velit venenatis et.
                    <br/>
                    Nullam quis consectetur felis. In vel odio sed tellus mattis sagittis. Etiam felis dui, cursus vitae mattis non, laoreet eget arcu. Aliquam nec diam tempus, rutrum turpis a, mattis lectus. Quisque neque massa, volutpat sit amet enim id, iaculis malesuada leo. Ut dolor felis, imperdiet ut dui quis, convallis fringilla nulla. Sed vulputate metus ultrices, rhoncus purus ac, lacinia eros. Aliquam sodales dictum ex, at scelerisque tortor facilisis vel. Maecenas vel quam id odio sagittis interdum. Nam scelerisque rhoncus sem id scelerisque. Sed luctus lorem nec ex dictum volutpat. In pharetra interdum lectus, ac condimentum felis ultrices id.
                    <br/>
                    Etiam pretium sed ligula quis finibus. Curabitur pulvinar, ante eget dignissim varius, purus elit scelerisque neque, rhoncus varius felis neque ut mauris. Pellentesque dui nunc, scelerisque et pharetra sit amet, ultrices imperdiet diam. Ut eu posuere mauris, et mattis diam. Nullam nisi lectus, faucibus et commodo pretium, mattis nec metus. Ut iaculis nulla in enim ornare, ut dignissim nisl hendrerit. Sed vel neque orci. Vestibulum mauris ex, ullamcorper sollicitudin tellus nec, fermentum pretium metus.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}